.nav-bar {
    /*place elements inlinely*/
    display: inline-block;
    margin: 0;
    width: 100%;
    background-color: rgb(0, 0, 0);
}

.M-logo {
    display: inline-block;
    color: white;
    margin-left: 10px;
    padding-left: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight:600;
    font-size:xx-large;
    border: 3px solid white;
    border-radius: 10%;
}

#n-logo {
    width: 80px;
    display: block;
    position: absolute;
    right: 0;
    padding-right: 24.3em;
    top: 20px;
}

#plans {
    position: absolute;
    right: 0;
    padding-right: 23.5em;
    top: 3.2em;
}

.list {
    display: inline-flex;
    padding: 10px;
    list-style: none;
    float: right;
    /*add border between list items*/
    border: 1px solid white;
    border-radius: 5px;
    margin-right: 5px;
}

li {
    padding: 10px;
    padding-left: 30px;
    border-right: 1px solid white;
    border-radius: 9px;
}

a {
    color: white;
    text-decoration: none;
}