<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <script src="header.js" defer></script>
    <script src="script.js" defer></script>
    
    <title>Sign Up | JobLand</title>
  </head>
  <body>
    <div class="nav-bar">
      <h1 class="M-logo">JL</h1>
    </div>
    
    <h2>Register now to find the job that you've been looking for</h2>
    <hr>
    <div name="reg_log">
      <form class="rform" method="post" name="myform">
        <label>Email</label><br>
        <input type="email" name="email" id="email" /><br>
        <label>Password (8+ characters)</label><br>
        <input type="password" name="password" id="password" minlength="8" maxlength="12"/><br>
        <p>By clicking Agree & Register, you agree to the JobLand <span>User Agreement</span>, <span>Privacy Policy</span>, and <span>Cookie Policy</span>.</p>
        <input class="button" type="button" value="Agree & Register" id="submit" onclick="validate()" />
        <label "></label>
      </form>
    </div>
    <hr>
  </body>
</html>
