body {
    background-color: gray;
}

.nav-bar {
    /*place elements inlinely*/
    display: inline-block;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
}

.M-logo {
    display: inline-block;
    color: white;
    margin-left: 7em;
    padding-left: 7px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight:600;
    font-size:xx-large;
    border: 3px solid white;
    border-radius: 10%;
}

#n-logo {
    width: 20px;
    display: block;
    position: absolute;
    right: 0;
    padding-right: 29.4em;
    top: 11px;
}

#plans {
    position: absolute;
    right: 0;
    padding-right: 28.5em;
    top: 2.4em;
}

.list {
    display: inline-flex;
    padding: 10px;
    list-style: none;
    float: right;
    /*add border between list items*/
    border: 1px solid white;
    border-radius: 5px;
    margin-right: 5px;
}

.reg_log {
    position: relative;
    display: inline-block;
    right: 0;
}

.rform {
    position: relative;
    display: flexbox;
    /*place elemnts in rows*/
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10em;
    /* ccenter elements */
    text-align: center;
    width: 100%;
    background-color: black;
    border-radius: 20px;
    padding-top: 3em;
    padding-bottom: 3em;
    padding: 10;
    margin: 10;
    justify-content: space-between;
    color: white;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.button {
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    padding-top: 3em;
    padding-left: 4em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer
}

li {
    padding: 10px;
    padding-left: 30px;
    border-right: 1px solid white;
    border-radius: 9px;
}

a {
    color: white;
    text-decoration: none;
}